.corpoAmministratore {
    background-color: #FFFFFF;
    margin: 0;
}

#menuAmministratore {
    float: left;
    width: 25%;
    height: 100%;
    text-align: justify;
    font-size: 1.1em;
    background-color: #F1AB00;
    color: #000000;
    margin: 1%;
    margin-right: 0.5%;
    padding: 0;
    clear: both;
}

.linkHidden {
    padding: 0;
    margin: 0;
    width: 0;
    font-size: 0;
}

#menuAmministratore ul {
    padding: 0;
}

#menuAmministratore li {
    list-style: none;
    padding: 5%;
}

.testoAmministratore {
    float: right;
    width: 72%;
    height: 100%;
    text-align: left;
    margin: 1%;
    margin-left: 0.5%;
    padding: 0;
}

.linkMod {
    padding: 1%;
    margin: 1%;
    background-color: #F1AB00;
    border-radius: 4px;
    font-weight: bolder;
    display: inline-block;
}

.noButt {
    border: 1px solid #F1AB00;
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    min-height: 5%;
    font-size: 1em;
}

.formRispAmm {
    width: 49%;
    margin: 0;
    margin-top: 2%;
    padding: 0;
    padding-right: 1%;
    display: inline-block;
}

.formRispAmm fieldset, .formElimAmm fieldset, .formModAmm fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.formElimAmm {
    float: right;
    width: 49%;
    margin: 0;
    margin-top: 2%;
    padding: 0;
    padding-left: 1%;
}

.formModAmm {
    width: 75%;
    margin: 0;
    margin-top: 2%;
    padding: 0;
    display: inline-block;
}

.h1Amm {
    text-align: justify;
    font-size: 1.2em;
    padding: 0.5%;
}

.pAmm {
    text-align: justify;
    font-size: 1em;
    padding: 0.5%;
}

.pLinkAmm {
    margin: 0;
    text-align: right;
}

.pLinkHomeAmm {
    margin-top: 1%;
    text-align: center;
}

.divAmm {
    border-top: 0.5px solid #474747;
    border-bottom: 0.5px solid #474747;
    margin: 3% 0% 3% 0%;
    padding: 1%;
}

.imgAutoAmm {
    margin-left: 5%;
    margin-right: 5%;
    width: 25%;
    height: auto;
    display: inline-block;
}

.datiAutoAmm {
    float: right;
    width: 65%;
}

.formAmm fieldset {
    margin: 1%;
    padding: 1%;
    border-width: 2px;
    border-style: groove;
}

.pFormAmm {
    font-size: 0.9em;
    text-align: center;
    font-weight: bold;
    margin: 1%;
}

.formAmm label {
    display: inline-block;
    font-size: 1em;
    padding: 1%;
    width: 25%;
    text-align: right;
    vertical-align: top;
}

.formAmm input[type="text"], .formAmm input[type="file"], .formAmm textarea {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding: 1%;
    margin: 0.5%;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: content-box;
    width: 65%;
    background-color: #FFFFFF;
}

.formAmm input[type="submit"] {
    font-size: 1em;
    width: 40%;
    padding: 1%;
    margin: 1%;
    background-color: #F1AB00;
    border-color: #F1AB00;
    color: #000000;
    border-radius: 4px;
    font-weight: bolder;
    cursor: pointer;
}

#nuovoVeicoloNoleggio, #nuovoVeicoloVendita, #modificaVeicoloVendita, #modificaVeicoloNoleggio, #rispostaMessaggioAmministartore, #modificaInfo {
    text-align: center;
}

.msgAmm {
    border: 1.5px solid #000000;
    border-radius: 5px;
    color: #000000;
    margin: 1%;
    padding: 1%;
    text-align: center;
}