/* stile per il menu' verticale */
#menuAmministratore {
    float: left;
    width: 26%;
    height: auto;
	text-align: justify;
	font-size: 1em;
	color: #FFFFFF;
    background: #F1AB00;
    margin: 0.5% 0.5% 0.5% 1%;
}

#menuAmministratore ul {
    padding: 0;
}

#menuAmministratore li {
    list-style: none;
    padding: 4%;
}

/* stile per il corpo */
.corpoAmministratore {
    float: right;
    width: 71%;
    height: auto;
	text-align: left;
    margin: 0.5% 1% 0.5% 0.5%;   
}

.linkMod {
    padding: 1%;
    margin: 1%;
    background-color: #F1AB00;
    color: #FFFFFF;
    border-radius: 4px;
    font-weight: bolder;
    display: inline-block;
}

.noButt {
    border: 1px solid #F1AB00;
    text-decoration: none;
    cursor: pointer;
    min-width: 90%;
    min-height: 5%;
    font-size: 1em;
    text-decoration: underline;
}

.formRispAmm {
    width: 50%;
    margin: 0;
    margin-top: 1%;
    padding: 0;
    display: inline-block;
}

.formRispAmm fieldset{
    border: none;
    padding: 0%;
    margin: 0%
}

.formElimAmm {
    float: right;
    width: 50%;
    margin: 0;
    margin-top: 1%;
    padding: 0;
}

.formElimAmm fieldset{
    border: none;
    padding: 0%;
    margin: 0%;
}

.h1Amm {
    text-align: justify;
    padding: 0.3%;
    font-size: 1.2em;
}

.pAmm {
    text-align: justify;
    padding: 0.3%;
    font-size: 1em;
}

.pLinkAmm {
    text-align: right;
}

.pLinkHomeAmm {
    text-align: center;
}

.divAmm {
    padding: 1%;
    margin: 2.5%;
    border-top: 0.5px solid grey;
    border-bottom: 0.5px solid grey;
}

/* stile per i form */
.formAmm fieldset {
    margin: 0.5%;
    padding: 0.5%;
    border-width: 2px;
    border-style: groove;
}

.pFormAmm {
    font-size: 0.9em;
    text-align: center;
    font-weight: bold;
    margin: 1%;
}

.formAmm label {
    display: inline-block;
    font-size: 1em;
    padding: 1%;
    width: 25%;
    text-align: right;
}

.formAmm input[type="text"],
.formAmm input[type="file"],
.formAmm textarea {
    font-size: 1em;
    padding: 1%;
    margin: 1%;
    vertical-align: bottom;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: content-box;
    width: 65%;
    background-color: #FFFFFF;
}

.formAmm input[type="submit"] {
    font-size: 1em;
    width: 40%;
    padding: 1%;
    margin: 1%;
    background-color: #F1AB00;
    border-color: #F1AB00;
    color: #FFFFFF;
    border-radius: 4px;
    font-weight: bolder;
    cursor: pointer;
}

#modificaInfo {
    text-align: center;
}

.msgAmm {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 0.2em;
    color: #000000;
    background-color: #FAFAFA;
    margin: 1%;
    padding: 1%;
    text-align: center;
}

.msgErrAmm {
    border-color: #C13636;
    background: #C13636;
    color: #FFFFFF;
}

.msgSuccAmm {
    border-color: #4CAF50;
    background: #4CAF50;
    color: #FFFFFF;
}

/*
.pulsanteAmm {
    width: 30%;
    min-height: 20%;
    background-color: #F1AB00;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5%;
    box-shadow: 4% 5% gray;
    display: block;
    margin-top: 1.5em;
}
*/
