* {
    background: #FFFFFF !important;
    color: #000000 !important;
    text-decoration-color: #000000 !important;
}

html, body {
    max-width: 100% !important;
}

body {
    font-size: 12pt;
}

#header {
    font-size: 140%;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 0.7em;
    border-top: white;
    border-bottom: white;
}
  
#header a {
    text-align: center;
}
  
.logoHeader, #menu, #menuAmministratore, #breadcrumb, #footer, #scrollUp, .linkMod, .noButt, .pLinkAmm {
    display: none;
}

.testoAmministratore {
    float: none;
    width: 100%;
    margin: 1%;
}

.h1Amm {
    text-align: center;
}