.titolo{
    font-size: 1.5em;
    margin-bottom : 0.5em;
    margin-top: 1em;
    font-weight: bold;
    text-align: center;
}


#testo{
    margin-bottom: 1em;
    clear: both;
}


.containerInfo{
    text-align: center;
}

#contatti{
    float: right;
    position: relative;
    right: 10%;
    text-align: justify;
    margin-bottom: 3em;
}

#indirizzo{
    float: left;
    position: relative;
    left: 10%;
    text-align: justify;
    margin-bottom: 2em;
}

ul{
    list-style: none;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 0;
    text-align: center;
}

.nowrap{
    white-space: nowrap;
}


iframe{
    width: 100%;
    margin-bottom: 3em;
}

label{
 display: block;
 margin: 0.5em 0;
 margin-left: 15%;
 text-align: left;
}

#formText{
    margin-bottom: 2em;
}

input{
    width: 70%;
    margin-bottom: 1em;
}

fieldset{
    text-align: center;
}

textarea{
    width: 70%;
    height: 10em;
}

#inviaMessaggio{
    display: block;
    margin-top: 2em;
}



#formMessaggio{
    margin: 0 2em;
}


@media (max-width:1300px){
    #contatti{
        float: none;
        position: static;
        text-align: center;
    }
    
    #indirizzo{
        float: none;
        position: static;
        text-align: center;
    }

}

@media (max-width:550px){
    .containerInfo,#formMessaggio{
        font-size: 0.85em;
    }

}

@media (max-width:500px){

    #formMessaggio{
        margin:0 0.5em;
    }

    input, textarea{
        width: 90%;
    }

    label{
        margin-left: 5%;
    }


}

