.titolo{
    font-size: 1.5em;
    margin-bottom : 0.5em;
    margin-top: 0.5em;
    font-weight: bold;
    text-align: center;
}


#testo{
    margin-bottom: 1em;
    clear: both;
    overflow: hidden;
}


.containerInfo{
    text-align: center;
}

#contatti{
    float: right;
    position: relative;
    right: 10%;
    text-align: justify;
    margin-bottom: 2em;
}

#indirizzo{
    float: left;
    position: relative;
    left: 10%;
    text-align: justify;
    margin-bottom: 2em;
}

ul{
    list-style: none;
}

#mappa{
    margin: 2em 0;
    
}

label{
 display: block;
 margin: 0.5em 0;
 margin-left: 15%;
 text-align: left;
}

#formText{
    margin-bottom: 2em;
}

input{
    width: 70%;
    margin-bottom: 1em;
}

fieldset{
    text-align: center;
}

textarea{
    width: 70%;
    height: 10em;
}

#inviaMessaggio{
    display: block;
    margin-top: 1.5em;
}



#formMessaggio{
    margin: 0 4em;
}