* {
	margin: auto;
}

html, body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	max-width: 85%;
	margin: auto;
	padding: 0;
	background-color: #FFE4C4;
}

body {
	background-color: #FAFAFA;
}

a:visited {
	color: #000086;
}

.logoHeader {
	float: left;
	width: auto;
	height: 3.3em;
	padding: 0 5% 0 5%;
}

.nomeSito {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 2.5em;
	float: left;
	color: #F1AB00;
	font-style: italic;
	text-align: center;
}

.messaggio {
	text-align: center;
	font-size: 1.1em;
	padding: 1%;
	margin: 1%;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.js {
	font-size: 0.5em;
}

.errorMessage {
	background: #C00000;
	color: #FFFFFF;
}

.successMessage {
	background: #377F3A;
	color: #FFFFFF;
}

.hidden {
	font-size: 0;
}

/* BREADCRUMBS */
#breadcrumb {
	background: #F1F1F1;
	padding: 0.7em;
	color: #000000;
	border-radius: 6px 6px 6px 6px;
	-moz-border-radius: 6px 6px 6px 6px;
	-webkit-border-radius: 6px 6px 6px 6px;
	margin: 0;
}

/* STILE DELL'HEADER */
#header {
	text-align: center;
	font-size: 100%;
	max-width: 100%;
	margin: 0;
	border-top: 3px double #000000;
	border-bottom: 3px double #000000;
	overflow: auto;
	background-color: #060807;
}

#header a {
	color: #F1AB00;
	text-decoration-color: #F1AB00;
}


/* STILE DEL FOOTER */
#footer {
	text-align: center;
	max-width: 100%;
	border-top: 3px double #000000;
	border-bottom: 3px double #000000;
	overflow: auto;
	clear: both;
	padding: 0.7em;
	margin: 0;
}

#menu {
	clear: both;
	width: 100%;
	text-align: center;
	font-size: 1.1em;
	color: #000000;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	background: #F1AB00;
	min-height: 2.0em;
}

#menu ul {
	margin-top: 0.4em;
	padding: 0;
}

#menu li {
	display: inline;
	list-style-type: none;
	padding:0 1%;
}

.main {
	padding: 1em;
	background-color: #F1AB00;
}

.clear{
    clear: left;
}

.valid{
	border-color: #377F3A;
}

.invalid{
	border-color: #C00000;
	background-color: #FFE4C4;
}

.button {
	cursor: pointer;
	font-size: 1em;
	font-weight: bold;
	border-radius: 4px;
	background-color: #F1AB00;
}


input[type="submit"] {
	cursor: pointer;
	font-size: 1em;
	font-weight: bold;
	width: auto;
    height: 2.5em;
    background-color: #F1AB00;
    color: #000000;
    border: none;
    border-radius: 5%;
}

/* hamburher animation */
/* PRESO DA https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_menu_icon_js */
#burgerMenu {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    margin-top: 16px;
    margin-right: 23px;
    min-width: 48px;
}

.bar1, .bar2, .bar3 {
    width: 2.75em;
    height: 0.31em;
    background-color: #FFFFFF;
    margin: 0.44em 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: translate(0em, 0.75em) rotate(-45deg);
    -moz-transform: translate(0em, 0.75em) rotate(-45deg);
    -ms-transform: translate(0em, 0.75em) rotate(-45deg);
    -o-transform: translate(0em, 0.75em) rotate(-45deg);
    transform: translate(0em, 0.75em) rotate(-45deg);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: translate(0em, -0.75em) rotate(45deg);
    -moz-transform: translate(0em, -0.75em) rotate(45deg);
    -ms-transform: translate(0em, -0.75em) rotate(45deg);
    -o-transform: translate(0em, -0.75em) rotate(45deg);
    transform: translate(0em, -0.75em) rotate(45deg);
}

.menuMobile {
	display: block !important;
}

#scrollUp{
	position: fixed; 
	bottom: 10px; 
	right: 10px; 
	z-index: 99; 
	border: none; 
	outline: none; 
	background-color: #C00000; 
	color: #FFFFFF; 
	cursor: pointer; 
	padding: 0;
	border-radius: 2px; 
	font-size: 1.1em;
	padding: 0 0.3em;
	font-weight: bolder; 
}

.hide{
	display: none;
}

@media (max-width:1000px) {
	html, body {
		max-width: 100%;
	}

	#scrollUp{
        right:2px;
		bottom:50px;
	}
}

@media (max-width:800px){
	#header {
		text-align: center;
	}

	#header > *, .logoHeader {
		float: none;
	}
}

@media (max-width:750px){
    #scrollUp{
		font-size: 1em;
		padding:0 0.1em;
    }

}

/*@media (max-width:470px){
    #scrollUp{
        display: none;
    }
}*/

@media (max-width:550px) {
	#menu {
		display: none;
		margin: 0;
		padding: 0;
	}

	#menu ul {
		margin: 0;
		padding: 0;
	}
	/*topFunction*/
	#menu ul li {
		display: block;
		border-bottom: 2px solid #000000;
		padding: 0.6em 0;
		list-style-type: none;
		text-align: center;
	}

	#burgerMenu {
		display: block;
	}

	.nomeSito {
		font-size: 100%;
	}

	.logoHeader {
		height: 2em;
	}
}