.titolo{
    font-size: 1.5em;
    margin-bottom : 0.5em;
    margin-top: 0.5em;
    font-weight: bold;
}

#immagineConcessionaria{
    float: right;
    margin: 0.5em;
}

.containerText{
    margin: 2%;
}

.text{
    margin-bottom: 2em;
}

#occasione{
    clear: both;
    text-align: center;
    margin-top: 3em;
}