* {
  background: transparent !important;
  color: black !important;
}

body {
  font-size: 12pt;
}

#header {
  font-size: 140%;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 0.7em;
  border-top: white;
  border-bottom: white;
}

#header a {
  text-align: center;
}

#header a[href]:after {
  content: "";
}

.nomeSito{
  font-size: 2em;
  font-weight: bolder;
}

#menu, #breadcrumb, #footer, .logoHeader, #scrollUp {
  display: none;
}

a[href]:after {
  content: "(" attr(href) ")";
}

#nav {
  display: none;
}

#content {
  display: block;
  width: 90%;
}
