html, body {
	max-width: 95% !important;
}
  
.containerVeicolo{
	padding: 0;
	border: none;
	overflow: auto;
	width: 100%;
  	background-color: #FFFFFF;
  	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.containerVeicolo > *{
	float: left;
}

#filtri {
  display: none;
}

.fotoVeicolo {
	width: 50%;
	height: auto;
}

.datiVeicolo {
	width: 45%;
	margin-left: 5%;
	margin-top: 0;
}

.hidePrint {
  display: none;
}

.dataInput {
	width: 25% !important;
}

#costoTot {
	text-align: center;
}