.main {
  overflow: auto;
}

.bottoni {
  width: 6em;
  height: 2.5em;
  font-weight: bolder;
  background-color: #eaeaea;
  color: #F1AB00;
  border: none;
  border-radius: 5%;
  box-shadow: 4% 5% gray;
  display: block;
  margin-top: 1.5em;
  -webkit-text-fill-color: #F1AB00;
  -webkit-text-stroke-width: 0.03em;
  -webkit-text-stroke-color: black;
}

label {
  display: block;
  margin: 0.5em 0.4em 0.5em 1em;
}

.listaMenu {
  padding: 0;
}

.immagini {
  height: auto;
  width: 100%;
}

.preventivi {
  border: 1px solid#616161;
  -webkit-box-shadow: 1px 1px 9px 0px rgba(97,97,97,1);
  -moz-box-shadow: 1px 1px 9px 0px rgba(97,97,97,1);
  box-shadow: 1px 1px 9px 0px rgba(97,97,97,1);
  padding: 1.2em;
  margin: 2.5em;
  overflow: auto;
  width: 80%;
  background-color: #eaeaea;
}

.preventivi::after {
  content: "";
  clear: both;
  display: table;
}

.noleggi {
  border: 1px solid#616161;
  -webkit-box-shadow: 1px 1px 9px 0px rgba(97,97,97,1);
  -moz-box-shadow: 1px 1px 9px 0px rgba(97,97,97,1);
  box-shadow: 1px 1px 9px 0px rgba(97,97,97,1);
  padding: 1.2em;
  margin: 2.5em;
  overflow: auto;
  width: 80%;
  background-color: #eaeaea;
}

.dati {
  border: 1px solid#616161;
  -webkit-box-shadow: 1px 1px 9px 0px rgba(97,97,97,1);
  -moz-box-shadow: 1px 1px 9px 0px rgba(97,97,97,1);
  box-shadow: 1px 1px 9px 0px rgba(97,97,97,1);
  padding: 1.2em;
  margin: 2.5em;
  overflow: auto;
  width: 80%;
  background-color: #eaeaea;
}

.marcamodello {
  font-size: 2em;
  font-weight: bold;
}

.messaggi {
  border: 1px solid#616161;
  -webkit-box-shadow: 1px 1px 9px 0px rgba(97,97,97,1);
  -moz-box-shadow: 1px 1px 9px 0px rgba(97,97,97,1);
  box-shadow: 1px 1px 9px 0px rgba(97,97,97,1);
  padding: 1.2em;
  margin: 2.5em;
  overflow: auto;
  width: 80%;
  background-color: #eaeaea;
}

.azioniRapide{
  display: block;
  border: 1px solid#616161;
  -webkit-box-shadow: 1px 1px 9px 0px rgba(97,97,97,1);
  -moz-box-shadow: 1px 1px 9px 0px rgba(97,97,97,1);
  box-shadow: 1px 1px 9px 0px rgba(97,97,97,1);
  padding: 0.4em;
  margin: 0.6em;
  width: auto;
  overflow: auto;
  background-color: #eaeaea;
}

#nav {
    background-color: #eaeaea;
    padding: 1.2em;
    display: inline;
    width: 25%;
    height:inherit;
    float: left;
}

#content {
    display: inline-block;
    width: 60%;
    height: auto;
    padding: 1.5em;
    margin-top: 0;
    margin-bottom: 0.2em;
    overflow: auto;
}

.titoloMenu {
    font-weight: bold;
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 1em;
}

.titolo {
    font-weight: bold;
    font-size: 1.6em;
    margin-bottom: 1.2em;
    text-align: center;
}

hr {
    display: block;
    height: 0.0625em;
    border: 0;
    border-top: 0.0625em solid #b0b0b0;
    margin: 1em 0;
    padding: 0;
}

#nav a {
    font-weight: bold;
}

#nav li {
  list-style: none;
  text-align: center;
}
