.containerVeicolo{
	padding: 1%;
	margin: 3%;
	border: 1px solid#616161;
	-webkit-box-shadow: 1px 1px 9px 0px rgba(97,97,97,1);
	-moz-box-shadow: 1px 1px 9px 0px rgba(97,97,97,1);
	box-shadow: 1px 1px 9px 0px rgba(97,97,97,1);
	overflow: auto;
	width: auto;
	background-color: white;
}

.containerVeicolo > *{
	float: left;
}

.fotoVeicolo {
	width: 50%;
	height: auto;
}

.datiVeicolo {
	width: 45%;
	margin-left: 5%;
	margin-top: 5%;
}

.datiVeicolo ul {
	list-style-type: none;
	padding: 0;
}

input {
	width: 50%;
	height: 2em;
}

.dataInput {
	width: 25%;
}

.titoloVeicolo {
	font-size: 2em;
	margin-bottom: 0.5em;
}

#costoTot {
	margin-left: 5%;
	margin-top: 5%;
}

.titolo{
    margin-bottom : 0.5em;
    margin-top: 0.5em;
    font-weight: bold;
    text-align: center;
}

.preventivoForm {
	margin-top: 3em;
}

.preventivoForm > fieldset{
	border: none;
}

#filtri {
	margin: 5px;
	margin-top: 0;
}

@media (max-width:1000px) {

	form {
		text-align: center;
	}

	input[type="text"] {
		border: 1px solid;
	}

	input[type="submit"] {
		margin: 0.5em 0;
		font-size: 1em;
	}

	input[type="text"],
	input[type="submit"],
	.button,
	.dataInput {
		width: 90%;
	}


	.containerVeicolo {
		text-align: center;
	}

	.containerVeicolo > *{
		float: none;
	}

	.datiVeicolo {
		width: 100%;
		margin: 0;
	}

	.datiVeicolo ul {
		list-style-type: none;
		padding: 0;
	}

	.photoVeicolo {
		width: 80%;
	}
}